    

<li class='list-group-item'> 
	
	 <% if article.data[:image].present? && i < 8 %>

	  <p><%= thumb_tag "#{article.data[:image]}", "640x480#",width: "100%", alt: "#{article.data[:image_alt_title]}" %></p>
 
	 <% end %>

<h2><font size="4.5em"><%= link_to article.data[:short_title], article %></font></h2></li>