<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Start</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= article.data[:short_title] %></li>
  </ol>
</nav>
<div class="row">
  <article class="col col-sm-12 col-lg-9 col-md-12">
    <h1 class="mt-4 ml-3 mb-5"><%= article.title %></h1>
    <div class="container-fluid">
      <div class="row">
        <% if article.data[:image].present? %>
        <div class="col col-sm-12 col-lg-6 col-md12">
          <p><%= thumb_tag "#{article.data[:image]}", "640x480#", width: "100%", alt: "#{article.data[:image_alt_title]}" %></p>
        </div>

        <% end %>
        <div class="col col-sm-12 col-lg-6 col-md-12">
          <p><i> <%= article.data[:introartikel] %></i></p>
          <p><%= article.data[:author] %></p>
          <div class="mt-3">

            <a href="https://podcasts.apple.com/de/podcast/podcast-technik-und-welt/id1462190008?mt=2&app=itunes&at=1001l9qk" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/de-de/badge-lrg.svg?releaseDate=2019-05-14T00:00:00Z&kind=podcast&bubble=podcasts) no-repeat;width:165px;height:40px;"></a></div>
        </div>
      </div> 
      <div class="mx-auto mb-5">
           <%= article.data[:image_alt_title] if article.data[:image_alt_title].present? %><br />
      </div>
      <div class="col col-sm-12 col-lg-12 col-md12">
        <% if article.data[:lybsin_link].present? %>

          <iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/<%= article.data[:lybsin_link] %>/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/ff9935/stats-code/stadtgarten/" height="90" width="100%" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

          
          <% elsif article.data[:soundcloud_link].present? %>
          <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/<%= article.data[:soundcloud_link] %>&color=%23ff9355&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>

          <% end %>
        </div>
      <p><%= article.body %></p>
      <p> <ul class="tags">
        <% article.tags.sort.each do |tag| %>
        <li class='tags'><%= link_to tag, tag_path(tag, article.data[:blog]), class: 'badge badge-secondary' %></li>
        <% end %>
      </ul></p>
    </div>


    <% if article.article_previous || article.article_next %>
    <ul class="read_next">
      <li>
        <% if article.article_previous %>
        <%= link_to("<i class='fa fa-caret-left'></i> #{article.article_previous.title}", article.article_previous) %>
        <% else %>
        &nbsp;
        <% end %>
      </li>
      <li>
        <% if article.article_next %>
        <%= link_to("#{article.article_next.title} <i class='fa fa-caret-right'></i>", article.article_next) %>
        <% else %>
        &nbsp;
        <% end %>
      </li>
    </ul>
    <% end %>
      <%= partial '/blog_partials/tag_list', locals: { article: article } %>
  </article>

<% if page_articles[1].present? %>
  <div class='sidebar col-md-12 col-lg-3  col-sm-12'>
   
   <div class="card">
    <div class="card-header">
      Beliebteste Podcasts
    </div>
    <ul class="list-group list-group-flush">

  
       <% page_articles.each_with_index do |article, i| %>

      <%= partial '/blog_partials/article_sidebar', locals: { article: article, i: i } unless current_article.title == article.title %>

      <% end %>
    </ul>

  </div>
  
</div>
<% end %>
</div>



