
<div class="card">
  <div class="card-body">
    <article class="article">
      <h2><%= link_to article.title, article %></h2>

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9 col-lg-5  col-sm-12">
            <% if article.data[:lybsin_link].present? %>

            <iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/<%= article.data[:lybsin_link] %>/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/ff9935/stats-code/stadtgarten/" height="90" width="100%" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

            <% elsif article.data[:soundcloud_link].present? %>
            <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/<%= article.data[:soundcloud_link] %>&color=%23ff9355&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>

            <% elsif article.data[:image].present? %>
            <p><%= thumb_tag "#{article.data[:image]}", "640x480#", width: "100%", alt: "#{article.data[:image_alt_title]}" %></p>
            <% end %>

            <div class="mt-5 mb-3">

            <a href="https://podcasts.apple.com/de/podcast/podcast-technik-und-welt/id1462190008?mt=2&app=itunes&at=1001l9qk" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/de-de/badge-lrg.svg?releaseDate=2019-05-14T00:00:00Z&kind=podcast&bubble=podcasts) no-repeat;width:165px;height:40px;"></a></div>
          </div>
      

          <div class="col-md-9 col-lg-5  col-sm-12">
            <p><i> <%= article.data[:introartikel] %></i></p>
            <p><%= article.data[:author] %></p>
            
            <% if article.summary.length < article.body.length %>
            <p class="readmore"><%= link_to 'Mehr lesen &rarr;', article.url, :class => 'btn btn-warning' %></p>
            <% end %>
            <ul class="credit" style="list-style-type:none">
              <li class="time">veröffentlicht am <time datetime="<%= article.date.strftime('%Y-%m-%d') %>"><%= article.date.strftime('%d-%m-%Y') %></time></li>
            </ul>

          </div>
        </div>
      </div>   
      <ul class="tags">
        <% article.tags.sort.each do |tag| %>
        <li class='tags'><%= link_to tag, tag_path(tag, article.data[:blog]), class: 'badge badge-secondary' %></li>
        <% end %>
      </ul>
    </article>
  </div>
</div>


