
  <div class="card">
  <div class="card-body">
    <ul>
      <% blog(article.data[:blog]).tags.sort.each do |tag, articles| %>
      <li class='tags'><%= link_to "#{tag.capitalize} (#{articles.size})", tag_path(tag, article.data[:blog]), class: 'badge badge-secondary' %></li>
      <% end %>
    </ul>
  </div>

