/*
 * Globals
 */

@font-face {
  font-family: 'AbrilFatface-Regular';
  src: url("/fonts/AbrilFatface-Regular.ttf");
}

@font-face {
font-family: 'Dosis-Regular';
 src: url("/fonts/Dosis-Regular.ttf");

}

@font-face {
  font-family: 'Oxygen-Light';
  src:font-url('Oxygen-Light.ttf');
}

@font-face {
  font-family: 'Oxygen-Regular';
  src:font-url('Oxygen-Regular.ttf');
}

 body {
  font-family: 'Oxygen-Light', sans-serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Dosis-Regular', sans-serif;
  font-weight: normal;
  color: #333;
}
/** custom **/



/* unvisited link */
a:link {
    color: #ff9355;
}

/* visited link */
a:visited {
    color: orange;
}

/* mouse over link */
a:hover {
    color: MediumSeaGreen;
}

/* selected link */
a:active {
    color: SlateBlue;
}

.tags {
  list-style-type: none;
  display: inline;
}

.navbar-logo-text {
  font-family: 'AbrilFatface-Regular', cursive;
  font-weight: bold;
  font-size: 2.5em;
}

blockquote {
  font-family: 'Oxygen-Light', sans-serif;
  font-style:oblique;
  letter-spacing: 1px;
}

footer {
  padding: 20px;
}
