  <%= partial 'partials/head'  %>
  <body>
    <div class="container-fluid">
      <!-- Logo & Top Nav -->
      <%= partial 'partials/header'  %>

      <!-- End Header and Nav -->

      <!-- Main page container -->
      <%= yield %>

      <%= partial 'partials/footer'  %>
      <%= partial 'partials/browser'  %>
    </div>

    <!-- Javascript -->
    <%= javascript_include_tag 'modernizr-3.5.0.min' %>
    <%= javascript_include_tag 'application' %>
    <%= yield_content :javascripts %>
    <script type='text/javascript'>var _merchantSettings=_merchantSettings || [];_merchantSettings.push(['AT', '1001l9qk']);(function(){var autolink=document.createElement('script');autolink.type='text/javascript';autolink.async=true; autolink.src= ('https:' == document.location.protocol) ? 'https://autolinkmaker.itunes.apple.com/js/itunes_autolinkmaker.js' : 'http://autolinkmaker.itunes.apple.com/js/itunes_autolinkmaker.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(autolink, s);})();</script>
   
  </body>
  </body>
  </html>
