<!--[if lt IE 10]>
      <div id="ie-warning-overlay">
        <div id="ie-warning">
          <h1>Did you know that your copy of Internet Explorer is very outdated and not secure?</h1>
          <p>
              To get the best possible experience using our website, we recommend that you upgrade to the latest version or use
              another web browser. Any of the following will provide a superior experience, and higher security, not only on this
              site, but across the web.
          </p>
          <p>Just click one of the icons below to get to the download page.</p>
          <ul>
            <li>
              <a href="http://microsoft.com/ie">
                <%= image_tag 'browser_ie.gif', alt: 'Download Internet Explorer' %>
                <p>Internet Explorer 10+</p>
              </a>
            </li>
            <li>
              <a href="http://mozilla.org/firefox">
                <%= image_tag 'browser_firefox.gif', alt: 'Download Firefox' %>
                <p>Firefox</p>
              </a>
            </li>
            <li>
              <a href="http://google.com/chrome">
                <%= image_tag 'browser_chrome.gif', alt: 'Download Chrome' %>
                <p>Google Chrome</p>
              </a>
            </li>
            <li>
              <a href="http://apple.com/safari">
                <%= image_tag 'browser_safari.gif', alt: 'Download Safari' %>
                <p>Safari</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <![endif]-->