<div class="card">
 <div class="card-body">
  <h2 class="card-title">Creative Commons Lizenz</h2>
  <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Technik und Welt</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://www.technik-podcast.de/impressum/" property="cc:attributionName" rel="cc:attributionURL">Jutta Schwengsbier</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="https://www.technik-podcast.de/podcast/" rel="dct:source">https://www.technik-podcast.de/podcast/</a>
</div>
</div>