<!-- Footer -->
  <div class="container-fluid">
      <footer class="row">
        <div class="col-sm-12 col-lg-12 col-md-12">
          <p>&copy; Copyright <%= Date.today.year.to_s %> <%= data.contact.company %></p>
        </div>

      </footer>
  </div>