<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand navbar-logo-artikel" href="/"><%= image_tag 'podcast-technik.svg', alt: 'Logo Podcast', width: '15%' %> <font color="#901616">Technik & Welt</font></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Start <span class="sr-only">(current)</span></a>
      
       <a class="nav-item nav-link" href="/podcast">Podcast</a>
       <a class="nav-item nav-link" href="/calendar">Podcast Kalender</a>
      <a class="nav-item nav-link" href="/impressum">Impressum</a>
      <a class="nav-item nav-link" href="/datenschutz">Datenschutz</a>
      <a class="nav-item nav-link" href="https://mailchi.mp/a58206edfe36/technik-podcast-newsletter">Anmeldung Newsletter</a>
    </div>
  </div>
</nav>
