<!doctype html>
<html class="no-js" lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="cleartype" content="on" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <meta name="google-site-verification" content="1KxKrc6GWQYVCWLAm7ZD8e6vuJABBUv-zlm-iKbU1Gc" />
    <meta name="google-site-verification" content="yc_Vn-bToCQGZjPMwh55ZPW7bKhvQLgHa-nAzlik-KY" />
    <meta name="msvalidate.01" content="BE2A25CE97DF23695D32DA321E35D603" />
    
    <title><%= current_page.data.title || "Technik Podcast" %></title>
    <meta name="description" content="<%= current_page.data.introartikel || "Technik Podcast auf deutsch zu Innovation, Wissenschaft, Digitalisierung, Entrepreneurship, Klimaschutz, Datenschutz, Menschenrechten." %>" >
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <link rel='canonical' href='/<%= current_page.path %>' />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- For non-Retina (@1× display) iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png"><!-- 57×57px -->
    <!-- For the iPad mini and the first- and second-generation iPad (@1× display) on iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72-precomposed.png">
    <!-- For the iPad mini and the first- and second-generation iPad (@1× display) on iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/apple-touch-icon-76x76-precomposed.png">
    <!-- For iPhone with @2× display running iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114-precomposed.png">
    <!-- For iPhone with @2× display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/apple-touch-icon-120x120-precomposed.png">
    <!-- For iPad with @2× display running iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144-precomposed.png">
    <!-- For iPad with @2× display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon-152x152-precomposed.png">
    <!-- For iPhone 6 Plus with @3× display: -->
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="/apple-touch-icon-180x180-precomposed.png">
    <link rel="shortcut icon" href="/favicon.png">
    <link rel="icon" type="image/ico" href="/favicon.ico">

    <%= stylesheet_link_tag "application" %>
    <%= yield_content :stylesheets %>

    <% if content_for? :styles %>
    <style type="artikel/css">
        <%= yield_content :styles %>
    </style>
    <% end %>

    <%= yield_content :head %>

      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
     <script>
       (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-4055610273210444",
          enable_page_level_ads: true
      });
     </script>

</head>