	<meta name="twitter:card" content="player">
	<meta name="twitter:image" content="https://assets.libsyn.com/secure/item/9925001?height=250&amp;width=250&amp;overlay=true">
	<meta name="twitter:player" content="https://html5-player.libsyn.com/embed/episode/id/<%= article.data[:lybsin_link] %>/theme/custom/height/90/custom-color/000000/menu/no/tdest_id/1252439">
	<meta name="twitter:player:width" content="640">
	<meta name="twitter:player:height" content="90">
	<meta name="twitter:player:stream" content="http://traffic.libsyn.com/preview/technik-und-welt/Technik-und-Welt-Medizin-und-Kuenstliche-Intelligenz.mp3">
	<meta name="twitter:player:stream:content_type" content="audio/mpeg">
	<meta name="twitter:title" content="<%= article.data[:short_title] || 'Podcast Technik und Welt'%>">
	<meta name="twitter:description" content="<%= article.data[:introartikel] || '#Podcast #Technik'%> ">