---
title: <%= @title %>
short_title:
date: <%=  @date.strftime('%F %R %Z') %>
permalink: <%= @slug %>
blog: artikel
tags:
image: podcast-technik.png
image_alt_title: Beschreibung Bild Technik und Welt
soundcloud_link:
lybsin_link:
published: false
author:
introtext:
---
