---
date: <%=  @date.strftime('%F %R %Z') %>
permalink: <%= @slug %>
blog: podcast
title: <%= @title %>
short_title: <%= @title %>
tags:
image: podcast-technik.png
image_alt_title: Beschreibung Bild Technik und Welt
soundcloud_link:
lybsin_link:
published: false
author: Jutta Schwengsbier
introartikel:
---
