---
pageable: true
---
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= tagname %></li>
  </ol>
</nav>

  <% page_articles.each_with_index do |article, i| %>
  <% if i > 0 %>
  <hr />
  <% end %>
  <div class="row">
   <div class="articles col-sm-12 col-lg-6 col-md-6">
     <%= partial '/blog_partials/article_digest', locals: { article: article } %>
   </div>
  </div>

  <div class="row">
   <div class='col-md-6 col-lg-3  col-sm-12'>
    <%= partial '/blog_partials/tag_list', locals: { article: article } %>
   </div>
  </div>

  <% end %>

  
<%= partial '/blog_partials/pagination', locals: {
  paginate: paginate,
  next_page: next_page,
  prev_page: prev_page,
  num_pages: num_pages,
  page_number: page_number
} %>


