  <nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Start</a></li>
    <li class="breadcrumb-item active" aria-current="page">Podcast Kalender</li>
  </ol>
</nav>
<div class="container">

  <h1 class="pl-1 pb-4">Podcast Kalender Technik und Welt</h1>

	<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titel</th>
      <th scope="col">Veröffentlichungsdatum</th>
    </tr>
  </thead>
  <tbody>
   
    	<% x = 1 %>
    	 <% data.calendar.podcasts.each do | event| %>
    	  <tr>
    	     <th scope="row"><%= x %></th>
             <td><%= event.title %></td>
             <td><%= event.date %></td>    
             <% x += 1 %>  
           </tr>   
         <% end %>    
   
  </tbody>
</table>

</div>