
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Start</a></li>
    <li class="breadcrumb-item active" aria-current="page">Impressum</li>
  </ol>
</nav>
<div class="container">

  <div id="imprint" class="row text-left">
    <div class="col-12 col-md-12">
      <br>
      <div class="card">
       <div class="card-body">
         <h1 class="card-title">Impressum</h1>

         <%= data.contact.company %><br>
         <%= data.contact.partner %><br>
         <%= data.contact.street %><br>
         <%= data.contact.city %><br>
         <br>

         email: <%= data.contact.email %><br />
         Telefone: <%= data.contact.phone %><br />
         <br>
         Handelsregister Amtsgericht Berlin Charlottenburg, PR 462<br />
         Umsatzsteuer ID DE252283603
       </div>
     </div>

     <div class="card">
       <div class="card-body">
         <h2 class="card-title"> Haftung für Inhalte</h2>

         Die auf den Web-Seiten abrufbaren Beiträge dienen nur der allgemeinen Information und nicht der Beratung in konkreten Fällen. Wir sind bemüht, für die Richtigkeit und Aktualität aller auf der Website enthaltenen Informationen und Daten gemäß § 7 Abs.1 TMG zu sorgen. Für die Korrektheit, die Vollständigkeit, die Aktualität oder Qualität der bereitgestellten Informationen und Daten wird jedoch keine Gewähr nach § 8 bis 10 TMG übernommen. Die Haftung für den Inhalt der abrufbaren Informationen wird ausgeschlossen, soweit es sich nicht um vorsätzliche oder grob fahrlässige Falschinformation handelt. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen. 
       </div>
     </div>

     <div class="card">
       <div class="card-body">
         <h2 class="card-title">Haftung für Links</h2>

         Wir sind für den Inhalt von Webseiten, die über einen Hyperlink erreicht werden, nicht verantwortlich. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich. Wir machen uns die Inhalte dieser Internetseiten ausdrücklich nicht zu eigen und können deshalb für die inhaltliche Korrektheit, Vollständigkeit und Verfügbarkeit keine Gewähr leisten. Wir haben bei der erstmaligen Verknüpfung zwar den fremden Inhalt daraufhin überprüft, ob durch ihn eine mögliche zivilrechtliche oder strafrechtliche Verantwortlichkeit ausgelöst wird. Wir sind aber nicht dazu verpflichtet, die Inhalte, auf die wir unserem Angebot verweisen, ständig auf Veränderungen zu überprüfen, die eine Verantwortlichkeit neu begründen könnten. Erst wenn wir feststellen oder von anderen darauf hingewiesen werden, dass ein konkretes Angebot, zu dem wir einen Link bereitgestellt haben, eine zivil- oder strafrechtliche Verantwortlichkeit auslöst, werden wir den Verweis auf dieses Angebot aufheben, soweit uns dies technisch möglich und zumutbar ist.
       </div>
     </div>
     <div class="card">
       <div class="card-body">
        <h2 class="card-title">Verwendete Ressoucen</h2>
        Icons sind von <a href="https://www.flaticon.com/authors/prettycons">prettycons</a>, <a href="https://www.flaticon.com/authors/geotatah">geotatah</a>, <a href="https://www.flaticon.com/authors/freepik">freepik</a>, <a href="https://www.flaticon.com/authors/smartline">Smartline</a>, <a href="https://www.flaticon.com/authors/becris">becris</a>,  <a href="https://www.flaticon.com/authors/srip" title="srip">srip</a>,
        <a href="https://www.flaticon.com/authors/icomoon" title="Icomoon">Icomoon</a> von <a href="https://www.flaticon.com">www.flaticon.com</a>
      </div>
    </div>

    <%= partial '/partials/commons' %>
  </div>
</div>
</div>
