<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    Start
  </ol>
</nav>

<div class="jumbotron">
  <h1>Vom Storytelling zu guter Öffentlichkeitsarbeit</h1>
  <p class="lead">
  Podcast Blog zu Innovation, Wissenschaft, Entrepreneurship, Digitalisierung und Datenschutz. Hö­ren Sie Expertinnen und Experten zu Technologien, die die Welt verändern. Oder besser noch, werden Sie Teil der Geschichte. Lassen Sie sich von unseren erfahrenen Radioautoren dabei unterstützen, Ihre Ideen zu spannenden Geschichten zu verwandeln, die jeder gerne hören will.</p>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="card text-center col-lg-4 col-md-6 col-sm-12">
      <div class="card-body">
        <h5 class="card-title">Podcast Training</h5>
        <%= image_tag 'teacher.svg', alt: 'Image of Teacher', width: '50%' %>
        <hr class="my-4">
        <p class="card-text">Sie wollen als Organisation oder Firma eigene Podcasts anbieten, wissen aber nicht so recht wie anfangen? Wir helfen kleinen und großen Organisationen, die eigenen Geschichten spannend zu erzählen und als Podcast zu veröffentlichen.</p>

      </div>
    </div>
    <div class="card text-center col-lg-4 col-md-6 col-sm-12">
      <div class="card-body">
        <h5 class="card-title">Konferenz Service</h5>
        <%= image_tag 'presentation.svg', alt: 'Image of Presentation', width: '50%' %>
        <hr class="my-4">
        <p class="card-text">Sie veranstalten einen Workshop oder eine Konferenz und wollen die Ergebnisse als Audiobeitrag zum nachhören anbieten? Wir fassen die wichtigsten Reden und Präsentationen für Sie als Audiobeitrag zusammen.</p>

      </div>
    </div>
    <div class="card text-center col-lg-4 col-md-12 col-sm-12">
      <div class="card-body">
        <h5 class="card-title">Öffentlichkeitsarbeit</h5>
        <%= image_tag 'monitor.svg', alt: 'Image of a monitor', width: '50%' %>
        <hr class="my-4">
        <p class="card-text">Sie brauchen Unterstützung bei Ihrer Öffentlichkeitsarbeit? Wir beraten Sie gerne und helfen Ihnen dabei, ihr Team weiter zu qualifizieren.</p>

      </div>
    </div>
  </div>   

  <div class="row">
    <div class="card text-center col-lg-6 col-md-6 col-sm-12">
     <div class="card-body">
      <h5 class="card-title">Wir sprechen für Sie</h5>
      <%= image_tag 'journalist.svg', alt: 'Image of Journalist', width: '50%' %>
      <hr class="my-4">
      <p class="card-text">Sie wollen die Texte für ihren Podcast professionell einsprechen lassen? Die ausgebildeten Rundfunksprecher aus unserem Team helfen Ihnen gerne dabei.</p>

    </div>
  </div>
  <div class="card text-center col-lg-6 col-md-6 col-sm-12">
    <div class="card-body">
      <h5 class="card-title">Sponsoren gesucht</h5>
      <%= image_tag 'euro.svg', alt: 'Image of Presentation', width: '50%' %>
      <hr class="my-4">
      <p class="card-text">Unsere Podcasts erzählen davon, wie moderne Technologien die Welt verändern. Spannend. Anregend. Unterhaltsam. Werden Sie Teil der Geschichte. Werden Sie Sponsor. </p>
    </div>
  </div>
  
</div>
</div>

<br>

<div class="jumbotron">
  <h2 class="display-4">Kontaktieren Sie uns</h2>
  <p class="lead"></p>
  <hr class="my-4">
  <p>Interesse an Podcasts? Brauchen Sie unsere Hilfe für ihr nächstes Projekt? Melden sie sich gerne bei uns. <br><font color="#ff9355"><%= data.contact.company %></font> ist ein Netzwerk freier Journalistinnen und Journalisten, die seit über 20 Jahren Hörfunkproduktionen für alle öffentlich-rechtlichen Sender in Deutschland, Österreich und der Schweiz produzieren.</br>

  <p>Rufen Sie uns an: <%= data.contact.phone %></p>
  <p class="lead">
    <a class="btn btn-warning btn-lg" href="mailto:<%= data.contact.email %>" role="button">Schreiben Sie uns eine email</a>
  </p>
</div>

