---
pageable: true
---
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Start</a></li>
    <li class="breadcrumb-item active" aria-current="page">Podcast</li>
  </ol>
</nav>

<h1 class="pl-1 pb-4">Podcast Technik und Welt</h1>

<div class='row'>
  <div class="articles col-lg-9 col-md-9 col-sm-12">
    <% page_articles.each_with_index do |article, i| %>
    <% if i > 0 %>
    <hr />
    <% end %>
    <%= partial '/blog_partials/article_digest', locals: { article: article } %>
    <% end %>


    <%= partial '/blog_partials/pagination', locals: {
      paginate: paginate,
      next_page: next_page,
      prev_page: prev_page,
      num_pages: num_pages,
      page_number: page_number
    } %>


    <div class="card">
      <div class="card-body">
        <ul>
          <% blog('podcast').tags.sort.each do |tag, articles| %>
          <li class='tags'><%= link_to "#{tag} (#{articles.size})", tag_path(tag, 'podcast'), class: 'badge badge-secondary' %></li>
          <% end %>
        </ul>
      </div>
    </div>

  </div>

  <div class="col-md-3 col-lg-3  col-sm-6">

    <div class="card">
      <div class="card-header">
        Beliebteste Podcasts
      </div>
      <ul class="list-group list-group-flush">
       <% blog("podcast").articles.each_with_index do |article, i| %>

       <%= partial '/blog_partials/article_sidebar', locals: { article: article, i: i } %>
       <% end %>

     </ul>
     <a class="btn btn-warning btn-lg" href="https://mailchi.mp/f4dc8a61226d/technik-und-welt-newsletter" role="button">Anmeldung Newsletter</a>
   </div>
 </div>

